<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Travel Mart PB&J</h1>
      <p class="lead">
        <em>All your travel needs brought to life!</em></p>
        <p><img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://www.cardatabase.net/modifiedairlinerphotos/photos/big/00003269.jpg" style="width: 140px; height: 140px;"></p>
      <div id="container">
      <div id="user_header">
        <%= link_to "Log-in", new_session_path, :class => 'btn btn-info' %>
     </div>
</div>

